@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::before, ::after{
  border: none;
  font-family: "Red Hat Display", sans-serif;
}


body {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.root_div{
  border: 0;
  width: 100%;
  height: 100%;
}

ul{
  list-style-type: disc;
  padding: 10px 30px ;
}

ol{
  list-style-type: decimal;
  padding: 5px 10px ;
}

strong{
  font-weight: bold;
}

pre {
  background: #0f172a;
  color: #e5e7eb;
  padding: 16px;
  border-radius: 12px;
  overflow-x: auto;
  font-family: "Fira Code", "JetBrains Mono", monospace;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

pre::selection {
  background: rgba(56, 189, 248, 0.35);
}

pre code {
  background: none;
  padding: 0;
  color: inherit;
}

.keyword  { color: #38bdf8; }
.class-name  { color: #f472b6; }
.var { color: #e5e7eb; }
.function{color: cyan}


.blur {
  animation: blurAnimation both;
  animation-timeline: view();
}

@keyframes blurAnimation {
  0% {
    filter: blur(20px);
  }

  45%,
  55% {
    filter: blur(0px);
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


.glass-gradient {
  backdrop-filter: blur(5px)  saturate(180%);
  mask-image: linear-gradient(to bottom, black 65%, transparent 100%);

}


