@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family:
    inter, Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.root_div{
  width: 100%;
  height: 100%;
}

