@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::before, ::after{
  border: none;
}


body {
  font-family:
    inter, Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.root_div{
  border: 0;
  width: 100%;
  height: 100%;
}

